services:
  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    expose:
      - "8080"
    environment:
      - VIRTUAL_HOST=tshapecraft.ru
      - LETSENCRYPT_HOST=tshapecraft.ru
      - LETSENCRYPT_EMAIL=lvglazko@gmail.com
    restart: unless-stopped
