html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: var(--mantine-color-myColor-0);
    background-image: linear-gradient(90deg, rgba(128, 128, 128, 0.2) 1px, rgba(0, 0, 0, 0) 0px), linear-gradient(rgba(128, 128, 128, 0.2) 1px, rgba(0, 0, 0, 0) 0px);
    background-size: 2rem 2rem, 2rem 2rem;
  }

#root {
  height: 100%;
}

.neo-card {
  border: 2px solid #000;
  box-shadow: 4px 4px 0 #000;
}

.neo-button-filled {
  background-color: var(--mantine-color-myColor-5);
  /* myColor[5] */
  color: #fff;
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000;
}

.neo-button-filled:hover {
  box-shadow: 1px 1px 0 #000;
}

.neo-button-outline {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000;
}

.neo-button-outline:hover {
  box-shadow: 1px 1px 0 #000;
}

.neo-input {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
}

.neo-alert {
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000;
}

.neobrutal-dropzone {
  border: 2px dashed var(--mantine-color-black);
  border-radius: 8px;
  background: #f8f8f8;
  padding: 32px;
  color: black;
}

.neo-class-balanced {
  text-wrap: balance;
}
